/* HEADER */
:root {
  --grey-color: #434455; 
  --white-color: #ffffff;
  --ocean-color: #4d5ae5; 
  --dark-grey-color: #2e2f42;
  --almost-white-color: #e7e9fc;
  --blue-color: #404bbf;
  --ligt-color: #f4f4fd;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-bottom: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}


.header-container {
display: flex;
align-items: center;
justify-content: space-between;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--grey-color);
  background: var(--white-color);
}
.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-grey-color);
}

.header {
  color: var(--white-color);
}

.link {
  text-decoration: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--ocean-color);
  text-decoration: none;
}

.header-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-grey-color);
  text-decoration: none;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-grey-color);
  list-style-type: none;
}
.header-ul {
  display: flex;
  gap: 40px;
  margin: 24px 156px 24px;
  border-bottom: 1px solid var(--almost-white-color);
  margin-right: 156px;
}
.header-item :hover {
  color: var(--dark-grey-color);
}
.header-item :active {
  color: var(--dark-grey-color);
}
.header-item :focus {
  color: var(--dark-grey-color);
}

/*** ADDRESS ****************************************************************/

.header-address {
  font-style: normal;
  margin-right: auto;
  display: flex;
  font-size: 16px;
  justify-content: flex-end;
}

.header-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}
.header-item-section :hover {
  color: var(--grey-color);
}
.header-item-section :active {
  color: var(--grey-color);
}
.header-item-section :focus {
  color: var(--grey-color);
}

.header-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-grey-color);
}

.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}

.address:hover {
  color: var(--blue-color) ;
}

.address:focus {
  color: var(--blue-color);
}

/*** MAIN ********************************************************/

.main {
  background-color: var(--dark-grey-color);
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  color: var(--white-color);
  text-align: center;
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  color: var(--white-color);
  background-color: var(--ocean-color);
}
.subtitel-item {
  list-style-type: none;
}
.subtitel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-grey-color);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}

/*** WHAT ARE WE DOING****************************************************/

.about-work-titel {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-grey-color);
}


.projects-list {
  list-style: none;
  display: flex; 
  margin-left: 24px;
}

/**** OUR TEAM***********************************************************************/

.section {
  background: var(--ligt-color);
}
.team-list .title {
  font-weight: 500;
  font-size: 20px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-grey-color);
}
.team-list .text {
  margin-top: 8px;
  margin-bottom: 0;
}
.team-list {
  display: flex;
}
.team-list .item {
  margin-left: 24px;
  list-style-type: none;
  background: var(--white-color);
}
.container-team {
padding: 32px 16px;
background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

/* Footer*******************************************/
.footer-color {
  background-color: var(--dark-grey-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--almost-white-color);
}
.header-studio-item {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--ligt-color);
  text-decoration: none;
}

/* Portfolio . html */

/* BUTTONS */
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background: var(--blue-color);
}
.filter-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  color: var(--ocean-color);
  border: none;
  cursor: pointer;
}

.list {
  list-style: none;
}

.section-ul-item {
  list-style-type: none;
}

.img-link {
  background: var(--white-color);
}
/* OUR PROJECTS */

.card-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-grey-color);
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}
